@tailwind base;
@tailwind components;
@tailwind utilities;

.size__full {
    width: full;
    height: screen;
}

.inherit__bg {
    background-color: white;
}

.icon__size {
    width: 35px;
    height: 50px;
}

.text__bold {
    font-size: large;
    font-weight: 700;
}

.cart__items--checkout {
    width: auto;
    height: auto;
    display:flex;
    flex-direction: row;
}


